---
page_title: "Advanced usage of Resources with Segments"
---

# Advanced usage of Resources with Segments

Read more about [segmentation and segments](https://configcat.com/docs/advanced/segments) in ConfigCat.

## Prerequisites

[Get your Public Management API credentials](https://app.configcat.com/my-account/public-api-credentials) and set the following environment variables:

- CONFIGCAT_BASIC_AUTH_USERNAME
- CONFIGCAT_BASIC_AUTH_PASSWORD

## main.tf

{{ tffile "examples/guides/segments/main.tf" }}
