---
page_title: "Simple usage of Resources"
---

# Simple usage of Resources

## Prerequisites

[Get your Public Management API credentials](https://app.configcat.com/my-account/public-api-credentials) and set the following environment variables:

- CONFIGCAT_BASIC_AUTH_USERNAME
- CONFIGCAT_BASIC_AUTH_PASSWORD

## main.tf

{{ tffile "examples/guides/simple_resources/main.tf" }}
